<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../style/style.css" midia="screen" />
    <title>Document</title>
</head>

<body >
    <div class="coments2">
        <div class="coments1">
            <h1>Pesquisar...</h1>
        </div>
    </div>  

   <div class="perfil"> 
        
        <img src="../imagens/antonio.png" class="img-perfil" style="margin-right: 5px;">
        <h4 class="img-perfil">Antônio</h4>
   </div>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   
    <div class="titulo">
        <h1>Procura-se cachorra chamada Leidy</h1>
    </div>
    <br>
    <br>
    <br>

   <div class="container"> 
        
    <h1>comentários</h1>
    <div class="coment">
        <img src="../imagens/persona1.png" >
       
            <h2 class="name">Julia vasconcelos</h2>
             <h4 class="date">16/04 as 17:45</h4>
            <h3 class="texto">Espero que encontre logo Antônio! </h3>

            <button class="botton"><h5>Responder</h5></button>
            <button class="botton1"><h5>Denunciar</h5></button>
    </div>

    <div class="coment">
        <img src="../imagens/persona2.png" >
       
            <h2 class="name">Claudia Nogueira</h2>
             <h4 class="date">16/04 as 19:32</h4>
            <h3 class="texto">Acredito ter visto ele ontem passando pelo Santa branca.</h3>
     
            <button class="botton"><h5>Responder</h5></button>
            <button class="botton1"><h5>Denunciar</h5></button>
    </div>

    <div class="coment">
        <img src="../imagens/persona3.png" >
       
            <h2 class="name">Guilherme Lopez</h2>
            <h4 class="date">17/04 as 11:17</h4>
            <h3 class="texto">Entre em contato por Whatsapp Antônio.</h3>
     
            <button class="botton"><h5>Responder</h5></button>
            <button class="botton1"><h5>Denunciar</h5></button>
    </div>

</div>
</body>
</html>